/* css for productDetailsWrapper */
.piaDashboardTitle {
    margin-bottom: 30px;
}

.productDetailsWrapper {
    .tabContentWrapper {
        margin-top: 25px;
    }

    .tabMenuWrapper {
        background-color: #e7eff0;
        width: 100%;
        min-height: 44px;
        line-height: 44px;
        border-radius: 6px;

        ul {
            border: none;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 20px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 44px;
                    display: flex;
                    align-items: center;
                    color: #2d405a;
                    padding: 0;
                    border: none;
                    border-bottom: 3px solid transparent;
                    transition: 0.3s;

                    &:hover {
                        border-bottom: none;
                        border-bottom: 3px solid var(--mainColor);
                        color: var(--mainColor);
                    }
                }

                a.active {
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    color: var(--mainColor);
                    border-top: none;
                    border-left: none;
                    border-bottom: none;
                    border-bottom: 3px solid var(--mainColor);
                }
            }
        }
    }

    .productDetailsTabWrapper {
        background-color: #ffffff;
        border-radius: 6px;
        padding: 30px;
    }

    .tabContentInfo {
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

            h2 {
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #2d405a;
                margin-bottom: 0;
            }
        }

        &-name {
            h3 {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #2d405a;
                margin-bottom: 15px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                color: #56606d;
                border: 1px solid #e7eff0;
                min-height: 52px;
                line-height: 52px;
                border-radius: 6px;
                padding: 0 25px;
                margin-bottom: 30px;
            }
        }
    }
}

.accordion-panel {
    .card {
        padding: 0;
        margin: 0 0 10px;
        border: 1px solid #e7eff0 !important;
        border-radius: 6px;
        text-align: left;
        border-radius: 6px;
        background-color: #f5f6fa;

        &:focus,
        &:hover {
            outline: none !important;
            box-shadow: none;
        }

        .collapse {
            border: none !important;
            outline: none !important;
            box-shadow: none;

            &:focus,
            &:hover {
                border: none !important;
                outline: none !important;
                box-shadow: none;
            }
        }

        .cardTitle {
            border: none;
            outline: none;
            border: none;
            outline: none;
            box-shadow: none;
            position: relative;

            button.accordionTitle {
                &::after {
                    font-family: "Nioicon" !important;
                    content: "\e9c5";
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s;
                    font-size: 28px;
                }

                &[aria-expanded="true"] {
                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
            &:focus {
                border: none !important;
                outline: none !important;
                box-shadow: none;
            }
        }
        .accordionTitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #2d405a;
            padding: 0;
            margin: 0;
            outline: none;
            background-color: transparent;
            min-height: 52px;
            line-height: 52px;
            border: none;
            display: block;
            width: 100%;
            text-align: left;
            padding: 0 25px;

            &:focus,
            &:hover {
                outline: none;
                box-shadow: none;
                text-decoration: none;
            }

            // &[aria-expanded="true"] {
            //     background-color: #f5f6fa;
            // }

            // &[aria-expanded="false"] {
            //     background-color: #fff;
            // }
        }
    }

    .singleInfo {
        padding: 0 25px;

        .singleInfoBlock {
            > ul {
                > li {
                    > strong {
                        color: #56606d;
                    }
                }
            }
        }

        ul {
            padding: 0;
            margin: 0 0 20px;

            li {
                display: block;
                padding: 0;
                margin: 0 0 5px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 14px;
                    line-height: 26px;
                    color: var(--mainColor);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #56606d;
        }
    }
}

/* css for productDetailsWrapper - END */

/* common radio style for all */
.checkWrapper {
    display: flex;

    // .checkContainer {
    //     display: block;
    //     position: relative;
    //     padding-left: 35px;
    //     cursor: pointer;
    //     -webkit-user-select: none;
    //     -moz-user-select: none;
    //     -ms-user-select: none;
    //     user-select: none;
    //     font-weight: 500;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: #2d405a;
    //     margin-bottom: 0;

    //     .assign {
    //         display: block;
    //         font-size: 12px;
    //         line-height: 15px;
    //         color: #56606d;
    //     }

    //     .taskNumber {
    //         display: block;
    //         font-weight: 500;
    //         font-size: 16px;
    //         line-height: 24px;
    //         color: #2d405a;
    //         margin-bottom: 0;
    //     }
    // }

    // .checkContainer input {
    //     position: absolute;
    //     opacity: 0;
    //     cursor: pointer;
    //     height: 0;
    //     width: 0;
    // }

    // .checkMark {
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     height: 18px;
    //     width: 18px;
    //     border: 2px solid #c4cefe;
    //     border-radius: 4px;
    //     transform: translateY(-50%);
    // }

    // .checkContainer:hover input ~ .checkMark {
    //     background-color: var(--mainColor);
    //     border: 2px solid var(--mainColor);
    // }

    // .checkContainer input:checked ~ .checkMark {
    //     background-color: var(--mainColor);
    //     border: 2px solid var(--mainColor);
    // }

    // .checkMark:after {
    //     content: "";
    //     position: absolute;
    //     display: none;
    // }

    // .checkContainer input:checked ~ .checkMark:after {
    //     display: block;
    // }

    // .checkContainer .checkMark:after {
    //     left: 5px;
    //     top: 3px;
    //     width: 4px;
    //     height: 7px;
    //     border: solid white;
    //     border-width: 0 2px 2px 0;
    //     transform: rotate(45deg);
    // }

    .taskNumber {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2d405a;
        margin-bottom: 5px;
    }

    .singleInfoDateline {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 12px;
            line-height: 15px;
            color: #99a6b9;

            span {
                margin-left: 5px;
            }
        }

        span {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            align-items: center;
            color: #56606d;
        }

        .singleProgress {
            background: #ffe4b0;
            border-radius: 12px;
            color: #ff9900;
            line-height: 20px;
            padding: 0 15px;
            height: 20px;
            display: inline-block;
        }

        .contractNotSent {
            color: #f22020;
            background-color: #f7dfdf;
        }

        .contractSent {
            color: #23acb4;
            background-color: #d3f4ef;
        }

        .openTaskNm {
            font-weight: bold;
            color: #00cd98;
        }
    }
}

table.piaTableData {
    tbody {
        tr {
            .progress {
                color: #ff9f10;
                background-color: #fff1d2;
            }

            .contractSent {
                color: #23acb4;
                background-color: #d3f4ef;
            }
        }
    }
}

/* common radio style for all -END */

/* css for All Project */
.allProjectMainWrapper {
    position: relative;
    @media (max-width: 768px) {
        text-align: center;
    }

    .exceptionalAction {
        position: absolute;
        top: 20px;
        z-index: 10;
        display: inline-block;

        @media (max-width: 1200px) {
            position: initial;
        }

        &.bulkAction {
            left: 0;
            right: initial;
            @media (max-width: 1200px) {
                margin-bottom: 10px;
            }
        }

        &.bulkSettings {
            right: 0;
            left: initial;

            .btn {
                position: relative;
                background-color: transparent;
                transition: all 0.3s;
                border: 0;

                > .badge {
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 2px;
                    right: 0px;
                }
            }
        }

        .piaBtn {
            height: 33px;
            line-height: 28px;
        }
    }
    @media (min-width: 1200px) {
        #allProject_length {
            margin-left: 400px;
        }

        #allProject_filter {
            margin-right: 140px;
        }
    }
}

table.allProjectData {
    border-right-width: 1px !important;
    border: none;

    thead {
        th {
            font-size: 14px;
            line-height: 24px;
            color: #99a6b9 !important;
            border-left: none;
            border-right: none;
            background-color: #fff !important;
        }

        th::before,
        th::after {
            display: none !important;
        }
    }

    td {
        font-size: 14px;
        line-height: 24px;
        color: #99a6b9;
        background-color: #fff !important;
        border-left: none;
        border-right: none;
    }

    tbody {
        tr {
            td {
                margin-bottom: 0;
                vertical-align: middle;

                p {
                    margin-bottom: 0;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #56606d;
                    font-weight: 500;
                    white-space: nowrap;
                }

                a,
                time {
                    font-size: 13px;
                    line-height: 22px;
                    color: #99a6b9;
                    font-weight: 400;
                }

                span {
                    font-weight: 400;
                    color: #99a6b9;
                }
            }
        }
    }

    .percircle {
        margin: 0;
        background-color: #e0e4ea;

        > span {
            color: #56606d;
            font-size: 12px;
            height: initial;
        }

        &::after {
            background-color: #ffffff;
        }

        .bar {
            border-color: var(--mainColor) !important;
        }
    }

    .percircle.small {
        font-size: 56px;
    }

    .overDateline {
        color: #eb5757;
    }

    .completedProject {
        p {
            font-size: 12px;
            line-height: 15px;
            color: #99a6b9;
            font-weight: 400;
        }

        span {
            font-size: 12px;
            line-height: 15px;
            color: #56606d;
            font-weight: 700;
        }
    }
}

/* css for All Project - END */

/* css for All projectManageInfo */

.singTeamleInfo {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 239, 240);
    border-image: initial;
    border-radius: 6px;
    padding: 20px 10px;
}

.team-img {
    margin-bottom: 10px;
    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.content {
    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: calc(var(--initFontSize) + 2px);
        line-height: calc(var(--initFontSize) + 10px);
        color: rgb(36, 55, 80);
        margin-bottom: 10px;
        display: block;
    }
    a {
        font-style: normal;
        font-weight: normal;
        font-size: var(--initFontSize);
        line-height: calc(var(--initFontSize) + 10px);
        color: #56606d;
        display: block;
        margin-bottom: 5px;
        &:hover {
            text-decoration: none;
        }

        span {
            color: rgb(101, 118, 255);
            background-color: rgba(101, 118, 255, 0.1);
            height: 20px;
            line-height: 20px;
            width: 20px;
            text-align: center;
            font-size: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}

.projectManageInfo {
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 239, 240);
    border-image: initial;
    padding: 25px;
    border-radius: 6px;

    .title {
        margin-bottom: 20px;
    }

    .clientSingleContent {
        width: 35%;

        .content {
            p {
                margin-bottom: 5px;
            }

            h4,
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #2d405a;
                white-space: nowrap;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        .InfoContentIcon {
            margin-right: 15px;

            .img {
                max-width: 25px;
                width: 100%;
            }
        }
        .content p {
            margin-bottom: 0px;
        }
    }
}

/* css for All projectManageInfo - END */

/* css for team-members */
.member-grid {
    border: 2px solid #e7eff0;
    border-radius: 6px;
    padding: 30px 10px;
    transition: all 0.3s;
    margin-bottom: 30px;
    position: relative;

    &:hover {
        border-color: var(--mainColor);
    }
    .member-img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
    }
    .contact-list {
        li {
            background-color: transparent;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;

            > a {
                color: #222222;
                text-decoration: none;
            }

            + li {
                margin-top: 15px;
            }

            label.checkContainer {
                padding-left: 25px;
                font-weight: 400;
                margin: 0;

                .taskNumber {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .dropdown-edit {
        position: absolute;
        top: 20px;
        right: 20px;

        &.dropBottomRight {
            .dropdown-menu {
                position: absolute;
                transform: translate3d(0px, 38px, 0px);
                top: 0px;
                left: initial !important;
                will-change: transform;
                right: 0;
            }
        }

        .btn {
            &:focus {
                outline: none;
                box-shadow: none !important;
            }
        }
    }
}

/* css for team-members - END */

/* css for projectFiles - #tab */
#projectFiles {
    .file-name {
        color: var(--mainColor) !important;
    }
}

/* css for projectFiles - #tab */

/* css for projectUpdates - #tab */
#projectUpdates {
    .ProjectUpdatesWrapper {
        .card {
            background-color: #f5f6fa;

            .dailyUpdate {
                padding-top: 0 !important;

                .dailyUpdateInner {
                    background-color: #fff;

                    .projectActivityDate {
                        color: #99a6b9;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

/* css for projectUpdates - #tab */

/* css for projectFiles - #tab */
.special-mark {
    display: inline-block;
    font-weight: 700;
    color: #ff9f10;
}

#notes {
    .notes-collapseBody {
        font-size: 14px;
        color: #56606d;
        font-weight: 500;
    }

    .notes-list {
        list-style: none;
        padding: 0;

        li {
            line-height: calc(100% + 10px);
            display: flex;
            align-items: center;
            margin-bottom: 7px;

            &::before {
                content: "\2022";
                /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: var(--mainColor);
                /* Change the color */
                font-weight: 700;
                /* If you want it to be bold */
                display: inline-block;
                /* Needed to add space between the bullet and the text */
                width: 23px;
                /* Also needed for space (tweak if needed) */
                margin-left: 0;
                /* Also needed for space (tweak if needed) */
                font-size: 25px;
                position: relative;
                top: -2px;
            }
        }
    }
}

/* css for projectFiles - #tab */

/* css for project details sidebar */
.sideBarWrapper {
    &-item {
        background-color: #fff;
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .piaBtn {
            width: 100%;
        }
        .accordionWrapper {
            .btn {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #2d405a;
                border: none;
                margin-bottom: 0;

                &:focus,
                &:hover {
                    outline: none;
                    border: none;
                    text-decoration: none;
                    box-shadow: none;
                }
            }
        }

        .checkWrapper {
            background-color: #f0faed;
            border-radius: 6px;
            padding: 15px;
            display: flex;
            align-items: baseline;
            margin-bottom: 10px;
            .content {
                h4 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #56606d;
                }

                p {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: #56606d;
                    a {
                        display: inline-block;
                        color: var(--mainColor);
                    }
                }

                span {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: #99a6b9;
                }
            }
            .checkMark {
                border-radius: 50%;
                border: 2px solid var(--mainSallowColor);
            }
            .checkContainer {
                top: -6px;
                input ~ .checkMark {
                    // background-color: #48a463;
                    border: 2px solid var(--mainSallowColor);
                }
                input {
                    &:hover {
                        background-color: var(--mainSallowColor);
                        border: 2px solid var(--mainSallowColor);
                    }
                }
            }
            .checkContainer input:checked ~ .checkMark {
                background-color: var(--mainSallowColor);
                border: 2px solid var(--mainSallowColor);
            }
        }
        .darkBg {
            background-color: var(--whiteDark);
            .checkContainer {
                top: -6px;
                input ~ .checkMark {
                    border: 2px solid #d0d5dd;
                }
            }
        }
    }
    .accordionWrapper {
        .card-header {
            .btn-link {
                position: relative;
                line-height: 35px;
                &:after {
                    font-family: "Nioicon" !important;
                    content: "\e9c5";
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 5px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    font-size: 28px;
                }
            }
            .btn-link [aria-expanded="true"]::after {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .selected-color {
        .inputPic {
            border: none;
            height: 40px;
            width: 40px;
            padding: 0;
            margin: 0 10px 0 0;
            &:hover {
                outline: none;
                outline: none;
            }
        }
        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        input[type="color"]::-webkit-color-swatch {
            border: none;
        }
        input[type="color"] {
            -webkit-appearance: none;
            border: none;
        }
        label {
            font-weight: 500;
            font-size: calc(var(--initFontSize) + 1px);
            line-height: calc(var(--initFontSize) + 10px);
            color: #56606d;
            margin-bottom: 0;
        }
        .single-color {
            width: 48%;
        }
        h5 {
            font-weight: 500;
            font-size: calc(var(--initFontSize) + 4px);
            line-height: calc(var(--initFontSize) + 14px);
            color: #2d405a;
        }
    }
}

/* css for project details sidebar - END */

/* milestone template */
.milestoneTemplates {
    border-top: 1px solid #e7eff0;
    padding-top: 25px;
    #allProject_filter {
        margin-right: 0;
    }
    .exceptionalAction {
        top: 25px;
    }
    #allProject_length {
        margin-left: 350px;
    }
    table.allProjectData {
        margin-top: 30px;
        tbody {
            tr td {
                padding: 20px 15px;
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                }
                .progress {
                    font-size: 12px;
                    line-height: 20px;
                    color: #ff750b;
                }
                .openTaskNumber {
                    color: #00cd98;
                }
                .overdue {
                    color: #f22020;
                    background-color: #ffe5e5;
                }
            }
        }
        thead {
            tr th {
                padding: 20px 15px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #99a6b9;
                .taskNumber {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #99a6b9;
                }
            }
        }
    }
    div#milestoneTemplates_length {
        position: absolute;
        right: 0;
        top: 0;
    }
    .checkWrapper {
        .taskNumber {
            font-size: 14px;
        }
    }
    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-color: #e7eff0;
        width: 100%;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        border-radius: 0 !important;
        background-image: url(../img/data-table-selection.svg) !important;
        background-repeat: no-repeat;
        background-position: calc(100% - 0px) center;
        background-size: 50px;
        background-color: #fff;
        border: none;
        position: relative;
        height: 33px;
        cursor: pointer;
        font-size: 15px;
        color: #000000;
        font-family: "Product Sans";
        padding-right: 50px;
        padding-left: 5px;
    }
    .dataTables_length {
        label {
            border: 1px solid #e7eff0;
            padding: 0 10px;
            margin-bottom: 0;
            border-radius: 4px;
        }
    }
    .dataTables_length {
        margin-top: 0;
    }
    .dataTables_filter {
        margin: 0;
    }
}
/* milestoneTemplates */

/* massage box style */

.messagesContent {
    background: #ffffff;
    border: 1px solid #e7eff0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    .chatWrapper {
        width: 25%;
    }
    .massageDetailsWrap {
        width: 75%;
        ul {
            li {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .chattingList {
        .chattingImg {
            margin-right: 15px;
        }
        h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #2d405a;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #99a6b9;
        }
    }
    ul {
        li {
            // display: inline-block;
            list-style: none;
        }
    }
}
.massageDetailsWrap {
    ul {
        background-color: #f5f6fa;
        padding: 30px;
        li {
            text-align: right;
            &:nth-child(even) {
                .massageInfoBox {
                    p {
                        background-color: var(--mainColor);
                        color: #fff;
                    }
                }
            }
        }
    }
    .massageInfoBox {
        .textImg {
            margin-right: 10px;
        }
        p {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 0px 20px 20px 20px;
            display: inline-block;
            text-align: left;
            max-width: 205px;
            width: 100%;
        }
    }
}

/* massage box style */

/* ENd ProjectInvoices */
#projectInvoices {
    tbody {
        td {
            p.due {
                color: #00bfe7;
                background-color: #e1f3f8;
            }
            p.sent {
                color: #ff7a00;
                background-color: #ffe4b0;
            }
            p.active {
                color: #1dc152;
                background-color: #cafad1;
            }
        }
    }
}

/* End ProjectInvoices */

/* MileStone tab screen style */
.mlAcrHeader {
    .accordionTitle {
        span {
            color: var(--orangeColor);
            margin-right: 5px;
        }
        .badge {
            margin-left: 30px;
        }
    }

    .badgeWrapper {
        width: 30%;
    }
}
.mileStone-content {
    &-taskBar {
        margin: 30px;
        background-color: var(--grayDeepColor);
        padding: 20px;
        border-radius: 6px;
    }
    &-singleDeadline {
        margin-right: 30px;
    }
    &-icon {
        margin-right: 10px;
    }
    &-info {
        h5 {
            font-weight: 400;
            font-size: calc(var(--initFontSize) + 2px);
            line-height: calc(var(--initFontSize) + 12px);
            color: #c4cefe;
        }
        p {
            font-weight: 500;
            font-size: var(--initFontSize);
            line-height: calc(var(--initFontSize) + 10px);
            color: #ffffff;
        }
    }
    .add-mileStone {
        .addMlBtn {
            font-weight: 700;
            font-size: var(--initFontSize);
            line-height: calc(var(--initFontSize) + 10px);
            color: var(--orangeColor);
            margin-right: 30px;
            position: relative;
            &:first-of-type:after {
                content: "";
                position: absolute;
                right: -15px;
                width: 1px;
                height: 20px;
                background-color: var(--graySallowColor);
                top: -2px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    .addMilestone-wrapper {
        margin: 0 30px;
        &-headerRight {
            width: 50%;
            margin-right: 50px;
        }
        .mlAcrHeader {
            padding: 15px 0 10px 0;
            .accordionTitle[aria-expanded="true"] {
                background-color: #fff;
            }
        }
        .card {
            background-color: #fff;
        }
        .mileStone-addSchedule {
            padding: 15px 30px 20px;
        }
        .addSchedule {
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
            label {
                display: block;
                font-size: var(--initFontSize);
                line-height: calc(var(--initFontSize) + 10px);
                color: var(--graySallowColor);
            }
            .input {
                padding: 0 15px;
                color: #2d405a;
                font-size: var(--initFontSize);
                line-height: calc(var(--initFontSize) + 20px);
                min-height: calc(var(--initFontSize) + 20px);
                background-color: #fff;
                border: 1px solid #e7eff0;
            }
        }
        .addSchedule-description {
            h4 {
                font-style: normal;
                font-size: calc(var(--initFontSize) + 2px);
                line-height: calc(var(--initFontSize) + 12px);
                color: var(--grayDeepColor);
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: calc(var(--initFontSize) + 0px);
                line-height: calc(var(--initFontSize) + 10px);
                color: var(--grayColor);
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    font-style: normal;
                    font-weight: normal;
                    font-size: calc(var(--initFontSize) + 0px);
                    line-height: calc(var(--initFontSize) + 10px);
                    color: var(--grayColor);
                    list-style: none;
                    span {
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
}
/* MileStone tab screen style */
