.settingPageWrapper {
  background-color: var(--whiteColor);
  border-radius: 6px;
  padding: 30px; }
  .settingPageWrapper .card-header-info {
    border-bottom: 1px solid #e7eff0; }
  .settingPageWrapper .tabSiteNav {
    border-right: 1px solid #e7eff0;
    padding-right: 50px; }
    .settingPageWrapper .tabSiteNav a {
      font-style: normal;
      font-weight: normal;
      font-size: var(--initFontSize);
      line-height: 24px;
      color: var(--grayColor);
      transition: 0.3s;
      position: relative; }
      .settingPageWrapper .tabSiteNav a:after {
        content: "\e9d3";
        font-family: "Nioicon" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: calc(var(--initFontSize) + 4px); }
      .settingPageWrapper .tabSiteNav a:hover {
        color: var(--mainColor); }
      .settingPageWrapper .tabSiteNav a span {
        margin-right: 5px; }
    .settingPageWrapper .tabSiteNav a.active {
      color: var(--mainColor); }
  .settingPageWrapper .setting-content {
    /* radio check wrapper  */
    /* ENd radio check wrapper */ }
    .settingPageWrapper .setting-content-title h3 {
      font-weight: 500;
      font-size: calc(var(--initFontSize) + 6px);
      line-height: calc(var(--initFontSize) + 10px);
      color: var(--mainColor); }
    .settingPageWrapper .setting-content-info p {
      font-weight: 400;
      font-size: var(--initFontSize);
      line-height: calc(var(--initFontSize) + 10px);
      color: var(--grayColor); }
      .settingPageWrapper .setting-content-info p a {
        color: var(--mainColor);
        text-decoration: none; }
    .settingPageWrapper .setting-content .plugin-reset-red-btn .piaBtn {
      border: 1px solid transparent; }
      .settingPageWrapper .setting-content .plugin-reset-red-btn .piaBtn:hover {
        background-color: var(--mainColor); }
    .settingPageWrapper .setting-content-singleInfo h4 {
      font-style: normal;
      font-weight: 500;
      font-size: calc(var(--initFontSize) + 2px);
      line-height: calc(var(--initFontSize) + 10px);
      color: #2d405a; }
    .settingPageWrapper .setting-content-singleInfo p {
      font-weight: 400;
      font-size: var(--initFontSize);
      line-height: calc(var(--initFontSize) + 10px);
      color: var(--grayColor); }
      .settingPageWrapper .setting-content-singleInfo p span.redMark {
        color: var(--redColor);
        font-size: calc(var(--initFontSize) - 2px);
        line-height: calc(var(--initFontSize) + 6px);
        font-weight: 700;
        display: inline-block; }
    .settingPageWrapper .setting-content-singleInfo ul li {
      list-style: none;
      display: flex;
      align-items: center; }
      .settingPageWrapper .setting-content-singleInfo ul li span {
        margin-right: 5px;
        color: var(--mainColor);
        font-size: 20px; }
      .settingPageWrapper .setting-content-singleInfo ul li a {
        font-weight: 400;
        font-size: var(--initFontSize);
        line-height: calc(var(--initFontSize) + 10px);
        color: #2d405a; }
        .settingPageWrapper .setting-content-singleInfo ul li a:hover {
          color: var(--mainColor); }
    .settingPageWrapper .setting-content-withBG {
      background-color: var(--darkWhiteColor);
      border-radius: 6px;
      padding: 10px 30px;
      margin-bottom: 5px; }
      .settingPageWrapper .setting-content-withBG:last-child {
        margin-bottom: 0; }
      .settingPageWrapper .setting-content-withBG p {
        font-size: var(--initFontSize);
        line-height: calc(var(--initFontSize) + 20px);
        margin-bottom: 0; }
    .settingPageWrapper .setting-content-redBadge {
      background-color: var(--redSallowColor); }
      .settingPageWrapper .setting-content-redBadge p {
        color: var(--redColor); }
    .settingPageWrapper .setting-content-brightTurquoise {
      background-color: var(--sallowTurquoise); }
      .settingPageWrapper .setting-content-brightTurquoise p {
        color: var(--brightTurquoise); }
  .settingPageWrapper .htmlEmailTemplateTab .setting-content-singleInfo .inputTextarea,
  .settingPageWrapper .clientDashbord .setting-content-singleInfo .inputTextarea {
    height: 260px; }
  .settingPageWrapper .input {
    font-size: var(--initFontSize); }
  .settingPageWrapper .input-group .fliedWidthHalf {
    width: 49%; }
  .settingPageWrapper .input-group.align-items-center .checkContainer {
    width: auto;
    display: inline-block;
    margin-right: 15px; }
  .settingPageWrapper .input-group.align-items-center .input {
    flex: none;
    width: auto; }
  .settingPageWrapper .halfWidthWrapper {
    width: 49%; }
  .settingPageWrapper .width35 {
    width: 35%; }
    .settingPageWrapper .width35 .uploadFileBtn .custom-file-label:after {
      width: 130px; }
  .settingPageWrapper .businessHours-content .table thead tr th {
    vertical-align: middle;
    border: none; }
  .settingPageWrapper .businessHours-content .table tbody tr td {
    vertical-align: middle;
    border: none; }

textarea.inputTextarea {
  min-height: 580px; }

.input-group label {
  display: block;
  width: 100%;
  font-size: var(--initFontSize);
  line-height: calc(var(--initFontSize) + 10px);
  color: var(--grayDeepColor);
  font-weight: 500; }
.input-group .input {
  background-color: var(--darkWhiteColor);
  border-radius: 6px;
  padding: 0 20px;
  color: var(--graySallowColor); }
  .input-group .input::placeholder {
    color: var(--graySallowColor); }
.input-group .customSelect {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/downangle.svg");
  background-repeat: no-repeat;
  background-position: 96% center; }
.input-group .uploadFileBtn {
  height: 52px; }
  .input-group .uploadFileBtn .custom-file-label {
    height: 52px;
    margin: 0 !important;
    padding: 0 20px !important;
    line-height: 52px;
    background-color: var(--darkWhiteColor);
    border-color: #fff; }
    .input-group .uploadFileBtn .custom-file-label:after {
      line-height: 52px;
      color: #495057;
      content: "No file chosen";
      background-color: #fff;
      border: none;
      border-radius: 0;
      height: 52px;
      width: 170px;
      text-align: center;
      padding: 0; }

/* Table Clone*/
.support-tbl table th {
  width: 35%; }
  .support-tbl table th:nth-child(2) {
    width: 15%;
    padding: 0 15px 10px 25px; }

td.cmn-desing,
th.cmn-desing {
  background-color: var(--darkWhiteColor);
  padding: 20px 0 17px 30px;
  margin-bottom: 20px;
  display: block;
  border-radius: 5px;
  color: #56606d; }

td.color-picker {
  text-align: center; }
  td.color-picker form input {
    border: none;
    box-shadow: none;
    outline: none;
    width: 68px;
    height: 52px;
    margin-top: -17px;
    background: none; }

td.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; }
td.color-picker input[type="color"]::-webkit-color-swatch {
  border: none; }
td.color-picker input[type="color"] {
  -webkit-appearance: none;
  border: none; }

.support-tbl td span.pm-d {
  width: 50px;
  height: 50px;
  line-height: 44px;
  font-size: 25px;
  border: 1px solid #e7eff0;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0; }

.support-tbl td.pm-d:hover {
  background-color: #00bfe7;
  color: #fff; }

.support-tbl td.cmn-desing form input {
  border: none;
  background: transparent;
  outline: none; }

.support-tbl .table thead th {
  border-bottom: none; }

.support-tbl .table td,
.table th {
  border-top: none; }

.support-tbl .color-picker {
  vertical-align: middle;
  padding: 0 20px 0; }

span.pm-d {
  margin-top: -7px; }

/*# sourceMappingURL=setting.css.map */
